In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from scipy import stats

In [ ]:
%cd '/content/drive/MyDrive/ML-DL/CodeGym'
!ls

/content/drive/MyDrive/ML-DL/CodeGym
GDPlist.csv				  Untitled11.ipynb  Untitled4.ipynb
house_price_Dống-Da_Hà-Nội_subdata.csv	  Untitled12.ipynb  Untitled5.ipynb
OnlineRetail.csv			  Untitled13.ipynb  Untitled6.ipynb
shopeep_koreantop_clothing_shop_data.csv  Untitled1.ipynb   Untitled7.ipynb
Untitled0.ipynb				  Untitled2.ipynb   Untitled8.ipynb
Untitled10.ipynb			  Untitled3.ipynb   Untitled9.ipynb

In [ ]:
df = pd.read_csv('house_price_Dống-Da_Hà-Nội_subdata.csv', encoding="latin1")
df.head(3)

,area,price,postDate,land_certificate,house_direction,balcony_direction,toilet,bedroom,floor,lat,long,property_type
0,50.0,14700.0,44197,So do,NaN,NaN,4.0,6.0,6.0,21.015698,105.824583,trong ngo
1,57.0,4200.0,44265,So do,Nam,Nam,3.0,8.0,4.0,21.025208,105.833111,trong ngo
2,62.0,11000.0,44268,So do,NaN,dong-Nam,6.0,5.0,6.0,21.025379,105.801011,trong ngo

In [ ]:
df.isnull().sum()

area                 0
price                0
postDate             0
land_certificate     0
house_direction      0
balcony_direction    0
toilet               0
bedroom              0
floor                0
lat                  0
long                 0
property_type        0
P/A                  0
dtype: int64

In [ ]:
df['land_certificate'] = df['land_certificate'].fillna("no information")

In [ ]:
df['area'].value_counts()

57.0     1
52.2     1
61.0     1
37.0     1
35.0     1
50.0     1
51.0     1
55.0     1
49.0     1
56.0     1
73.0     1
98.0     1
128.0    1
58.0     1
Name: area, dtype: int64

In [ ]:
df['area'] = df['area'].fillna(0.0)

In [ ]:
df['house_direction'].value_counts()

Tay-Bac     3
dong-Nam    3
Tay-Nam     3
dong        2
Nam         1
Bac         1
dong-Bac    1
Name: house_direction, dtype: int64

In [ ]:
df['house_direction'] = df['house_direction'].fillna('dong-Nam')

In [ ]:
df['balcony_direction'].value_counts()

dong-Nam    5
Tay-Nam     3
dong        2
Nam         1
Tay-Bac     1
Bac         1
dong-Bac    1
Name: balcony_direction, dtype: int64

In [ ]:
df['balcony_direction'] = df['balcony_direction'].fillna('dong-Nam')

In [ ]:
df['toilet'].value_counts()

4.0    7
3.0    2
1.0    1
6.0    1
5.0    1
7.0    1
2.0    1
Name: toilet, dtype: int64

In [ ]:
df['toilet'] = df['toilet'].fillna(4.0)

In [ ]:
df['bedroom'].value_counts()

6.0    5
4.0    3
2.0    2
3.0    2
8.0    1
9.0    1
Name: bedroom, dtype: int64

In [ ]:
df['bedroom'] = df['bedroom'].fillna(3.0)

In [ ]:
df['floor'].value_counts()

5.0    6
4.0    4
3.0    1
7.0    1
6.0    1
1.0    1
Name: floor, dtype: int64

In [ ]:
df['floor'] = df['floor'].fillna(5.0)

In [ ]:
df.isnull().sum()

area                 0
price                0
postDate             0
land_certificate     0
house_direction      0
balcony_direction    0
toilet               0
bedroom              0
floor                0
lat                  0
long                 0
property_type        0
P/A                  0
dtype: int64

In [ ]:
df = df.dropna()

In [ ]:
df1 = df[(df['area'] > 0)]

In [ ]:
df1.isnull().sum()

area                 0
price                0
postDate             0
land_certificate     0
house_direction      0
balcony_direction    0
toilet               0
bedroom              0
floor                0
lat                  0
long                 0
property_type        0
P/A                  0
dtype: int64

In [ ]:
df1['P/A'] = df1['price'] / df1['area']
df1.head()

,area,price,postDate,land_certificate,house_direction,balcony_direction,toilet,bedroom,floor,lat,long,property_type,P/A
1,57.0,4200.0,44265,So do,Nam,Nam,3.0,8.0,4.0,21.025208,105.833111,trong ngo,73.684211
7,52.2,5376.6,44292,So do,Tay-Bac,Tay-Bac,1.0,2.0,3.0,21.019078,105.819259,trong ngo,103.000000
220,61.0,12500.0,44306,So do,dong-Nam,dong-Nam,4.0,6.0,5.0,21.009410,105.824307,trong ngo,204.918033
223,37.0,3800.0,44306,So do,dong,dong,3.0,3.0,4.0,21.012872,105.833187,trong ngo,102.702703
230,35.0,4250.0,44306,So do,Bac,Bac,4.0,3.0,5.0,21.024038,105.802626,trong ngo,121.428571

In [ ]:
df_trong_ngo = df1.loc[(df1['property_type']== 'trong ngo')]
df_mat_pho = df1.loc[(df1['property_type']== 'mat pho')]

In [ ]:
t1, p1 = stats.ttest_ind(df_mat_pho['P/A'], df_trong_ngo['P/A'], equal_var=False, alternative='greater')
p1

0.015523005431713173

In [ ]:
if p1 >= 0.05:
  print('True')
else:
  print('False')

False

In [ ]:
df1['land_certificate'].value_counts()

So do    14
Name: land_certificate, dtype: int64

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 1 to 645
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   area               14 non-null     float64
 1   price              14 non-null     float64
 2   postDate           14 non-null     int64
 3   land_certificate   14 non-null     object
 4   house_direction    14 non-null     object
 5   balcony_direction  14 non-null     object
 6   toilet             14 non-null     float64
 7   bedroom            14 non-null     float64
 8   floor              14 non-null     float64
 9   lat                14 non-null     float64
 10  long               14 non-null     float64
 11  property_type      14 non-null     object
 12  P/A                14 non-null     float64
dtypes: float64(8), int64(1), object(4)
memory usage: 1.5+ KB